* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --cor00: #6f4e37;
    --cor01: #f3dec2;
    --cor02: #ffffff;
    --cor03: #333333;
    --cor04: #fbc02d;
    --cor05: #66bb6a;
    --cor06: #fb8c00;
    --cor07: #e53935;
}

body {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    background-color: #f3dec2;
}

body>header {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 12px 48px;
    background-color: #6f4e37;

    & .logo-header {
        /* border: 2px solid red; */
        display: flex;
        align-items: center;

        & img {
            width: 160px;
            margin-right: 70px;
            margin-left: 30px;
        }
    }

    & .header-usuario {
        display: flex;
        align-items: center;
        gap: 16px;

        & .boas-vindas {
            /* border: 2px solid red; */
            display: flex;
            align-items: center;
            gap: 12px;

            & p {
                color: #f3dec2;
                font-weight: bold;
                font-size: 15px;
                margin: 0;
            }

            & img {
                height: 60px;
                width: 55px;
            }
        }
    }

    & .select-dash {
        cursor: pointer;
        background-color: transparent;
        border: 1px solid #f3dec2;
        color: #f3dec2;
        padding-right: 32px;
        border-radius: 4px;
        font-size: 14px;

        & option[value="#"] {
            display: none;
        }

        & option {
            background-color: #6f4e37;
            color: #f3dec2;
            padding: 10px;
        }
    }

}

/* Fim header  */

.saudacoes {
    padding: 10px;

    & h1 {
        color: var(--cor00);
        font-size: 24px;
        margin-bottom: 8px;
    }

    & h2 {
        color: var(--cor03);
        font-size: 16px;
        font-weight: normal;
    }
}

.area-parametros-alerta {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 12px;
    overflow: hidden;

    background-color: var(--cor00);

    & .titulo-legenda {
        text-align: center;
        color: var(--cor01);
        font-weight: bold;
        margin: 0;
        font-size: 14px;
        padding: 10px;
    }

    & .parametros-alerta {
        display: flex;

        & .item-regua {
            flex: 1;
            height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            color: var(--cor02);

            & p {
                margin: 2px 0;
            }

            & p:last-child {
                font-weight: bold;
                font-size: 16px;
            }
        }

        & .estado-atencao {
            background-color: var(--cor04);
            color: var(--cor03);
        }

        & .estado-ideal {
            background-color: var(--cor05);
        }

        & .estado-alerta {
            background-color: var(--cor06);
        }

        & .estado-perigo {
            background-color: var(--cor07);
        }
    }
}

.sla {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px;

}


/* .dashboard p {
    color: #f3dec2;
    font-weight: bold;
    padding: 0 30px 0 200px;
} */



.select-dash {
    color: #f3e9dc;
    background-color: #6f4e37;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    background-image: url(../imgs/tresBarrinhas.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    appearance: none;
}

.selectTalhao {
    background-color: #f3dec2;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    appearance: none;
    background-image: url(../imgs/setinhaParaBaixo.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding-right: 5rem;
}

option {
    background-color: #fff6e8;
    color: #3a2a18;
    font-size: 16px;
    font-weight: 600;
}


.foto {
    width: 60px !important;
    height: 60px !important;
    /* a foto estava toda bugada, aí usei esse comando ai pra arrumar, ele ignora qualquer outro comando do css e obedece aos comandos dessa classe*/
    border-radius: 50%;
    object-fit: cover;
    /* Esse aqui eu usei para não distorcer */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}


.saudacoes {
    text-align: center;
    padding: 30px 0;

}

.kpis {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.kpi {
    flex: 1;
    background-color: var(--cor02);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.kpi h3 {
    font-size: 14px;
    color: var(--cor03);
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.kpi span {
    font-size: 24px;
    font-weight: bolder;
    display: block;
}

.containerGraficos {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    margin-top: 20px;
}

.containerSub {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.graficos1 {
    background-color: #fff;
    border-radius: 12px;
    width: 87%;
    height: 87%;
}

.graficos2 {
    background-color: #fff;
    border-radius: 12px;
    width: 57%;
    height: 57%;
}

.graficos {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    width: 50%;
    height: 50%;
    margin-top: 20px;
}


canvas {
    width: 95%;
    height: auto;
    border-radius: 8px;
}

/* Estilização Seleção fazendas */

.area-selecao-propriedades {
    width: 90%;
    max-width: 800px;
    margin: 40px auto;

    & h2 {
        text-align: center;
        color: var(--cor03);
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
    }

    & .lista-propriedades {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        & .fazenda-card {
            background-color: var(--cor02);
            width: 320px;
            padding: 15px 20px;
            border-radius: 12px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 15px;

            & img {
                width: 50px;
                height: 50px;
                object-fit: contain;
            }

            & .info-card {
                display: flex;
                flex-direction: column;

                & h3 {
                    margin: 0;
                    font-size: 16px;
                    color: var(--cor03);
                    font-weight: bold;
                }

                & p {
                    margin: 0;
                    font-size: 14px;
                    color: var(--cor03);
                    margin-top: 4px;
                }
            }
        }
    }
}